.header
{
	background: #522213;
}
.container
{
	margin: 0 auto;
	width: 1400px;
}
.container_header
{
	display: flex;
	padding: 36px 0;
	align-items: center;
}
.nav_list
{
	display: flex;
	justify-content: space-between;
	list-style: none;
	width: 600px;
}
.nav_link
{
	color: #E4E4E4;
    font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-decoration: none;
}
.header_title
{
	font-family: 'Overpass', sans-serif;
	color: #FFF;
	font-size: 23px;
	display: flex;
	width: 128px;
	height: 23px;
	flex-direction: column;
	justify-content: center;
	margin-right: auto;
	margin-left: 10px;
}
.hero-block
{
	background: #84371F;
}
.hero-block_title
{
	
	color: #E4E4E4;
	font-family: Roboto;
	font-size: 55px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.hero-block_text
{
	
	color: #FFF;
	font-family: Roboto;
	font-size: 35px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	margin-top: 30px;
}
.hero-block_btn
{
	width: 224px;
	height: 47px;
	flex-shrink: 0;
	border-radius: 6px;
	background: #D65107;
	box-shadow: 0px 2px 13px 0px rgba(226, 158, 0, 0.48);
	margin-top: 30px;
	font-size: 22px;
}
.container_hero-block
{
	display: flex;
	justify-content: space-between;
	padding-top: 35px;
	padding-bottom: 105px;

}
.hb
{
	width: 488px;
	height: 443px;
	flex-shrink: 0;
}
.hero-block_content
{
	width: 300 px;
}
.about_title
{
	color: #E4E4E4;
	font-family: Roboto;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-align: center;
}
.skills_title
{
	color: #E4E4E4;
	font-family: Roboto;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.skills_full
{
	width: 287px;
	height: 10px;
	background: #FF6604;
}
.skills_done
{
	width: 69px;
	height: 10px;
	background: #441B09;
}
.skills_list
{
	list-style: none;
	color: #E4E4E4;
	font-family: Roboto;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.about
{
	background: #84371F;
	padding: 20px;
}
.video
{
	background: #84371F;
	padding: 20px;
}
.video_title
{
	color: #E4E4E4;
	font-family: Roboto;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-align: center;
}
.video_video
{
	border: 49px groove #441B09;
	border-radius: 29px;
}
.gallery
{
	background: #84371F;
	padding: 20px;
}
.gallery_title
{
	color: #E4E4E4;
	font-family: Roboto;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-align: center;
}
.gallery_list
{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}
.gallery_item
{
	width: 33%;
}
.gallery_img
{
	width: 100%;
}
.about_content
{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer_list
{
	list-style: none;
	display: flex;
}
.footer_img
{
	width: 50px;
}
.footer_item
{
	margin-right: 40px;
}
.footer_title
{
	color: #E4E4E4;
	font-family: Overpass;
	font-size: 30px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
.footer_text
{
	color: #FFF;
	font-family: Overpass;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 164.063%; /* 26.25px */
}
.footer
{
	background: #522213;
	padding: 20px;
}
.container_footer
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}